# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List a few popular languages for Data Science
- List a few commonly used libraries for Data Science
- Review how to solve some simple arithmetic expressions using Python

Although there are many coding languages, some of the most popular among Data Scientists are:
1. Python
2. R
3. SQL
4. Java

A few of the most commonly used libraries include:
1. NumPy
2. Pandas
3. SciPy

| Data Science Tools |
|------|
| Jupyter |
| Hadoop |
| Apache Spark |

### Here are some examples of using Python to evaluate arithmetic expressions:

In [1]:
# This is a simple arithmetic expression to multiply and then add integers together:

(3*4)+5

17

In [3]:
# This is another simple arithmetic expression to convert 200 minutes to hours by dividing it by 60.
time = 200/60
print(time,'hours')

3.3333333333333335 hours

## Author
Victoria ('Percy') Raggi